@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
#header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(211, 211, 211);
  width: 100vw;
  height: 9vh;
}

#left-spare-div {
  width: 30vw;
}

#title {
  width: 40vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Satisfy", cursive;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

#header-top ul {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  align-items: center;
  position: relative;
}
#header-top li {
  font-size: 0.9rem;
  margin-right: 1rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  background-color: rgb(167, 165, 165);
  padding: 4px;
  border-radius: 7px;
}

/* header-bottom css */
.header-bottom {
  height: 8vh;
  width: 100vw;
  background-color: rgb(201, 201, 201);
  /* box-shadow: 0px 0px 3px; */
}

.header-bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100%;
  margin-inline: auto;
  list-style: none;
}

li {
  text-transform: capitalize;
}

.searchbutton {
  width: 250px;
  height: 30px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
.searchcontent {
  transform: translateX(220px);
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  background-color: white;
  border-radius: 7px;
}
.searchcontent input {
  flex: 1;
  padding: 0 0.4rem;
  outline: none;
  border: none;
}

footer{
    height: 40vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
}
.searchicon,
.closeicon {
  height: 100%;
  width: 30px;
  /* background-color: red; */
  font-size: 1rem;
}
.searchresults {
  position: absolute;
  top: 85%;
  left: 0;
  background-color: white;
  border: 1px solid black;
  width: 250px;

  display: none;
}
.searchresults a {
  /* background-color: blue; */
  height: 1.7rem;
  cursor: pointer;
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;
}
/* search animation */
.show {
  transform: translateX(0);
}
.showresults {
  display: flex;
  flex-direction: column;
}
/* footer Section */

footer {
  height: 40vh;
  width: 100vw;
  background-color: blue;
  display: flex;
}

.top {
  /* background-color: red; */
  width: 20%;
  height: 100%;
}
.top img {
  height: 200px;
  margin: 10px 0 0 50px;
}
.mid {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 55%;
  /* background-color: aquamarine; */
  height: 100%;
}
.mid p{
    font-weight: bold;
    font-size: 1.7rem;
    font-family: "Satisfy", cursive;
    margin-top: 10px;
    /* background-color: blanchedalmond; */
    text-align: center;
    padding: 15px 0;
}
.mid h2{
    /* background-color: cyan; */
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.1rem;
    letter-spacing: -1px;
    margin-top: 35px;

}
.socials {

    font-weight: bold;
    font-size: 1.7rem;
    display: flex;
    /* background-color: #a52a2a; */
    padding:10px 60px;
    display: flex;
    justify-content: center;
    gap:60px
}

.socials i {
  cursor: pointer;
  margin-right: 10px;
  color: rgb(44, 42, 42);
}

.socials li {
  /* transition: 0.3s all ease; */
  list-style: none;
  /* margin-right: 55px; */
}

.bottom {
  height: 100%;
  width: 25%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.bottom p {
  margin-top: -50px;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  /* background-color: red; */
}
#team-images {
  display: flex;
  gap: 10px;
  /* background-color: blue; */
}
#team-images img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 30px 25px;
    
}

