@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Jaini&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
    scroll-snap-type: y proximity;
}
.product-info{
    /* background-color: blue; */
    width: 80%;
    height: 75vh;
    display: flex;
    margin: 5vh 0 5vh 10%;
}
.product-desc{
    /* background-color: red   ; */
    width: 27%;
    padding: 220px 0 5% 7% ;
    font-size: 1.4rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.product-desc>p{
    font-family: "Rajdhani", sans-serif;
}
#product-image{
    width: 30%;
    overflow: hidden;
    background-color: white;
}
#product-image img
{
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
    /* background-color: white; */
    /* object-fit: contain; */
    object-fit: cover;
}
.product-details{
    /* background-color: gray; */
    width: 35%;
}
#item-name{
    /* background-color: red; */
    height: 30%;
    width: 80%;
    margin-top: 35%;
    overflow: hidden;
    margin-bottom: -5px;
}
#item-name>p{
    font-size: 2.5rem;
    text-align: left;
    font-family: "Briem Hand", cursive;
}
#item-price{
    /* background-color: blue; */
    padding: 0px 0 0 0;
    /* height: 20%; */
}
#item-price>p{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color:goldenrod; 
}
#item-button{
    /* background-color: yellow; */
    margin-top: 5%;

}
#button-add{
    color:wheat;
    padding: 15px 40px;
    font-size: 1.4rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    background-color: brown;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s all ease;
}
#button-add:hover{
    transform: scale(1.04);
}


/* related */
#related-products 
{
    width: 100vw;
    margin-top: 10vh;
    /* background-color: red; */
    scroll-snap-align: start;
    height: max-content;
    padding: 3vh 2% 3vh;
}

.item-quantity{
    /* background-color: greenyellow; */
    height:35px;
}
#input-quantity{
    height: 34px;
    padding: 0;
    text-align: center;
    appearance: none;
    width: 70px;
    margin: 0;
    border: 1px solid lightgray;
    outline: none;
    margin: 0 -5px 0 -5px;
    background-color: rgba(223, 220, 220, 0.767);
}
.item-quantity>button{
    /* padding: 6px; */
    height: 35px;
    width: 35px;
    margin: 0;
    border: 1px solid lightgray;
    background-color: rgb(236, 236, 236);
    cursor:pointer;
}

#decrease{
    border-radius: 3px 0 0 3px ;
}
#increase{
    border-radius:0 3px 3px 0 ;

}
/* #input-quantity::-webkit-outer-spin-button,
#input-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
} */